.sai_cta {
  background: var(--gradient-bar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  border-radius: 8px;
  padding: 2rem;
}
.sai_cta_content h2 {
  color: black;
  font-family: var(--font-family);
}
.sai_cta_button button {
  outline-style: none;
  border-radius: 40px;
  background-color: black;
  padding: 0.6rem 1.6rem;
  border: none;
  color: white;
  font-family: var(--font-family);
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .sai_cta_button button {
    padding: 0.6rem;
    margin-top: 20px;
    border-radius: 20px;
  }
  .sai_cta {
    padding: 1rem;
    flex-direction: column;
  }
}
